* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: black;
}

html,
body {
  overflow: hidden;
}

.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

a {
  position: absolute;
  color: white;
  padding: 2rem;
  z-index: 100;
}

a:hover {
  filter: brightness(0.2);
}
